.waf-widget.waf-basicmulticontainer {

}

.waf-widget.waf-basicmulticontainer .waf-container { 
	height:100%;
	display:none;
 }

.waf-widget.waf-basicmulticontainer .waf-container.waf-state-active{ 
	display:block;	
 }

.waf-widget.waf-basicmulticontainer .waf-container:nth-child(1) { 
	background: red; 
 }

.waf-widget.waf-basicmulticontainer .waf-container:nth-child(2) { 
	background: blue; 
}